@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "DMSans";
  font-style: "normal";
  font-weight: 100 900;
  src: url(./assets/fonts/DMSans.ttf) format("truetype");
}

@layer base {
  :root {
    --mtx-background: var(--mtx-gray-0);
    --mtx-foreground: var(--mtx-text-500);
    --mtx-card: var(--mtx-gray-0);
    --mtx-card-foreground: var(--mtx-gray-700);
    --mtx-popover: var(--mtx-gray-0);
    --mtx-popover-foreground: var(--mtx-gray-700);
    --mtx-primary: var(--mtx-primary-500);
    --mtx-primary-foreground: var(--mtx-gray-0);
    --mtx-secondary: var(--mtx-secondary-500);
    --mtx-secondary-foreground: var(--mtx-gray-0);
    --mtx-muted: var(--mtx-gray-300);
    --mtx-muted-foreground: var(--mtx-text-300);
    --mtx-accent: var(--mtx-primary-200);
    --mtx-accent-foreground: var(--mtx-text-500);
    --mtx-danger: var(--mtx-danger-500);
    --mtx-danger-foreground: var(--mtx-gray-0);
    --mtx-warning: var(--mtx-warning-500);
    --mtx-warning-foreground: var(--mtx-text-500);
    --mtx-success: var(--mtx-success-500);
    --mtx-success-foreground: var(--mtx-gray-0);
    --mtx-info: var(--mtx-info-500);
    --mtx-info-foreground: var(--mtx-gray-0);
    --mtx-border: var(--mtx-gray-300);
    --mtx-input: var(--mtx-gray-300);
    --mtx-ring: var(--mtx-primary-400);
    --mtx-radius: 0.5rem;
    --mtx-chart-1: 67.72% 0.1571 35.19;
    --mtx-chart-2: 63.092% 0.1013 183.49;
    --mtx-chart-3: 37.87% 0.044 225.54;
    --mtx-chart-4: 83.363% 0.1186 88.15;
    --mtx-chart-5: 78.344% 0.1261 58.75;

    --mtx-text-800: 18.193% 0.018 269.05;
    --mtx-text-700: 20.218% 0.0219 268.93;
    --mtx-text-600: 23.169% 0.0275 268.79;
    --mtx-text-500: 26.335% 0.0312 265.1;
    --mtx-text-400: 45.998% 0.0224 268.38;
    --mtx-text-300: 63.771% 0.0161 273.57;
    --mtx-text-200: 80.303% 0.0124 281.04;
    --mtx-text-100: 95.717% 0.0072 268.74;

    --mtx-gray-800: 15.523% 0.0047 264.43;
    --mtx-gray-700: 31.883% 0.0039 264.51;
    --mtx-gray-600: 51.923% 0 89.88;
    --mtx-gray-500: 59.656% 0.0028 264.54;
    --mtx-gray-400: 72.218% 0.0037 264.54;
    --mtx-gray-300: 83.542% 0.0032 264.54;
    --mtx-gray-200: 89.966% 0.0017 247.84;
    --mtx-gray-100: 95.424% 0 89.88;
    --mtx-gray-50: 97.719% 0 89.88;
    --mtx-gray-0: 100% 0 89.88;

    --mtx-primary-900: 23.32% 0.0913 259.21;
    --mtx-primary-800: 31.833% 0.1352 260.71;
    --mtx-primary-700: 39.832% 0.1756 261.31;
    --mtx-primary-600: 47.456% 0.2138 261.64;
    --mtx-primary-500: 55.558% 0.2456 261.36;
    --mtx-primary-400: 61.751% 0.2072 259.83;
    --mtx-primary-300: 69.214% 0.1622 259.49;
    --mtx-primary-200: 77.467% 0.1149 259.65;
    --mtx-primary-100: 86.145% 0.0683 259.85;
    --mtx-primary-50: 95.027% 0.0237 259.94;
    --mtx-primary-25: 97.015% 0.0141 259.95;

    --mtx-secondary-800: 48.254% 0.0989 157.23;
    --mtx-secondary-700: 61.172% 0.1286 156.87;
    --mtx-secondary-600: 72.847% 0.1523 156.94;
    --mtx-secondary-500: 84.375% 0.1721 157.29;
    --mtx-secondary-400: 86.056% 0.149 159.08;
    --mtx-secondary-300: 88.587% 0.1204 160.8;
    --mtx-secondary-200: 91.361% 0.0877 162.3;
    --mtx-secondary-100: 93.974% 0.0578 163.41;
    --mtx-secondary-50: 97.523% 0.0267 163.56;

    --mtx-danger-800: 44.01% 0.1587 26.76;
    --mtx-danger-700: 44.969% 0.1845 29.23;
    --mtx-danger-600: 55.453% 0.1747 24.89;
    --mtx-danger-500: 67.241% 0.2151 25.08;
    --mtx-danger-400: 78.844% 0.1226 20.19;
    --mtx-danger-300: 88.968% 0.058 18.3;
    --mtx-danger-200: 95.515% 0.0223 17.55;

    --mtx-warning-800: 52.305% 0.1335 52.57;
    --mtx-warning-700: 66.464% 0.1485 65.34;
    --mtx-warning-600: 79.468% 0.1596 82.82;
    --mtx-warning-500: 85.699% 0.1752 88.37;
    --mtx-warning-400: 91.091% 0.1354 94.1;
    --mtx-warning-300: 94.325% 0.0881 94.49;
    --mtx-warning-200: 96.567% 0.0531 94.35;

    --mtx-success-800: 47.458% 0.1319 147.43;
    --mtx-success-700: 57.129% 0.1754 145.66;
    --mtx-success-600: 57.129% 0.1754 145.66;
    --mtx-success-500: 67.441% 0.2097 145.32;
    --mtx-success-400: 89.548% 0.0901 153.17;
    --mtx-success-300: 92.576% 0.0591 153.96;
    --mtx-success-200: 98.109% 0.0287 154.64;
    --mtx-success-50: 97.523% 0.0267 163.56;

    --mtx-info-700: 48.721% 0.1055 236.58;
    --mtx-info-600: 59.048% 0.1247 235.89;
    --mtx-info-500: 70.89% 0.1513 236.34;
    --mtx-info-400: 89.317% 0.0608 226.04;
    --mtx-info-300: 93.996% 0.0384 225.53;
    --mtx-info-200: 97.295% 0.0172 225.19;

    --mtx-purple-700: 30.339% 0.1535 309.93;
    --mtx-purple-600: 41.119% 0.2078 309.17;
    --mtx-purple-500: 50.627% 0.2581 308.52;
    --mtx-purple-400: 74.925% 0.1875 314.2;
    --mtx-purple-300: 88% 0.086 315.01;
    --mtx-purple-200: 95.579% 0.0308 315.29;
    --mtx-purple-100: 97.691% 0.0148 310.95;

    --mtx-coral-700: 40.598% 0.1414 35.31;
    --mtx-coral-600: 51.211% 0.1822 34.42;
    --mtx-coral-500: 71.014% 0.1864 37.34;
    --mtx-coral-400: 79.012% 0.1246 37.7;
    --mtx-coral-300: 92.039% 0.042 37.6;
    --mtx-coral-200: 96.425% 0.0182 37.66;
    --mtx-coral-100: 98.206% 0.009 37.7;

    --mtx-lime-700: 61.232% 0.1485 122.47;
    --mtx-lime-600: 77.587% 0.1891 122.73;
    --mtx-lime-500: 93.145% 0.2218 122.01;
    --mtx-lime-400: 95.298% 0.1655 119.08;
    --mtx-lime-300: 97.088% 0.0985 117.47;
    --mtx-lime-200: 98.745% 0.0404 116.33;
    --mtx-lime-100: 99.569% 0.0135 115.83;

    --mtx-turquoise-700: 49.67% 0.079 182.17;
    --mtx-turquoise-600: 51.846% 0.0876 181.26;
    --mtx-turquoise-500: 69.333% 0.1185 181.03;
    --mtx-turquoise-400: 83.141% 0.1268 182.63;
    --mtx-turquoise-300: 90.52% 0.08 185.37;
    --mtx-turquoise-200: 94.761% 0.0609 186.08;
    --mtx-turquoise-100: 98.435% 0.0216 187.2;

    --mtx-shadow-card: 0px 2px 1px 0px rgba(0, 0, 0, 0.05), 0px 0px 1px 0px rgba(0, 0, 0, 0.251);

    --mtx-drawer-width: 16rem;
  }


  .dark {
    --mtx-background: var(--mtx-gray-0);
    --mtx-foreground: var(--mtx-text-500);
    --mtx-card: var(--mtx-gray-0);
    --mtx-card-foreground: var(--mtx-gray-700);
    --mtx-popover: var(--mtx-gray-0);
    --mtx-popover-foreground: var(--mtx-gray-700);
    --mtx-primary: var(--mtx-primary-500);
    --mtx-primary-foreground: var(--mtx-gray-0);
    --mtx-secondary: var(--mtx-secondary-500);
    --mtx-secondary-foreground: var(--mtx-gray-0);
    --mtx-muted: var(--mtx-gray-300);
    --mtx-muted-foreground: var(--mtx-text-300);
    --mtx-accent: var(--mtx-primary-200);
    --mtx-accent-foreground: var(--mtx-text-500);
    --mtx-danger: var(--mtx-danger-500);
    --mtx-danger-foreground: var(--mtx-gray-0);
    --mtx-warning: var(--mtx-warning-500);
    --mtx-warning-foreground: var(--mtx-text-500);
    --mtx-success: var(--mtx-success-500);
    --mtx-success-foreground: var(--mtx-gray-0);
    --mtx-info: var(--mtx-info-500);
    --mtx-info-foreground: var(--mtx-gray-0);
    --mtx-border: var(--mtx-gray-300);
    --mtx-input: var(--mtx-gray-300);
    --mtx-ring: var(--mtx-primary-400);
    --mtx-radius: 0.5rem;
    --mtx-chart-1: 67.72% 0.1571 35.19;
    --mtx-chart-2: 63.092% 0.1013 183.49;
    --mtx-chart-3: 37.87% 0.044 225.54;
    --mtx-chart-4: 83.363% 0.1186 88.15;
    --mtx-chart-5: 78.344% 0.1261 58.75;

    --mtx-text-100: 54.385% 0.0163 269.85;
    --mtx-text-200: 58.639% 0.0178 269.85;
    --mtx-text-300: 63.045% 0.0157 269.9;
    --mtx-text-400: 67.507% 0.0131 265.91;
    --mtx-text-500: 79.667% 0.0135 268.67;
    --mtx-text-600: 84.021% 0.0068 273.77;
    --mtx-text-700: 87.815% 0.0075 281.15;
    --mtx-text-800: 95.717% 0.0072 268.74;

    --mtx-gray-0: 15.523% 0.0047 264.43;
    --mtx-gray-50: 31.883% 0.0039 264.51;
    --mtx-gray-100: 51.923% 0 89.88;
    --mtx-gray-200: 59.656% 0.0028 264.54;
    --mtx-gray-300: 72.218% 0.0037 264.54;
    --mtx-gray-400: 83.542% 0.0032 264.54;
    --mtx-gray-500: 89.966% 0.0017 247.84;
    --mtx-gray-600: 95.424% 0 89.88;
    --mtx-gray-700: 97.719% 0 89.88;
    --mtx-gray-800: 100% 0 89.88;

    --mtx-primary-900: 23.32% 0.0913 259.21;
    --mtx-primary-800: 31.833% 0.1352 260.71;
    --mtx-primary-700: 39.832% 0.1756 261.31;
    --mtx-primary-600: 47.456% 0.2138 261.64;
    --mtx-primary-500: 55.558% 0.2456 261.36;
    --mtx-primary-400: 61.751% 0.2072 259.83;
    --mtx-primary-300: 69.214% 0.1622 259.49;
    --mtx-primary-200: 77.467% 0.1149 259.65;
    --mtx-primary-100: 86.145% 0.0683 259.85;
    --mtx-primary-50: 95.027% 0.0237 259.94;
    --mtx-primary-25: 97.015% 0.0141 259.95;

    --mtx-secondary-800: 48.254% 0.0989 157.23;
    --mtx-secondary-700: 61.172% 0.1286 156.87;
    --mtx-secondary-600: 72.847% 0.1523 156.94;
    --mtx-secondary-500: 84.375% 0.1721 157.29;
    --mtx-secondary-400: 86.056% 0.149 159.08;
    --mtx-secondary-300: 88.587% 0.1204 160.8;
    --mtx-secondary-200: 91.361% 0.0877 162.3;
    --mtx-secondary-100: 93.974% 0.0578 163.41;
    --mtx-secondary-50: 97.523% 0.0267 163.56;

    --mtx-danger-800: 44.01% 0.1587 26.76;
    --mtx-danger-700: 44.969% 0.1845 29.23;
    --mtx-danger-600: 55.453% 0.1747 24.89;
    --mtx-danger-500: 67.241% 0.2151 25.08;
    --mtx-danger-400: 78.844% 0.1226 20.19;
    --mtx-danger-300: 88.968% 0.058 18.3;
    --mtx-danger-200: 95.515% 0.0223 17.55;

    --mtx-warning-800: 52.305% 0.1335 52.57;
    --mtx-warning-700: 66.464% 0.1485 65.34;
    --mtx-warning-600: 79.468% 0.1596 82.82;
    --mtx-warning-500: 85.699% 0.1752 88.37;
    --mtx-warning-400: 91.091% 0.1354 94.1;
    --mtx-warning-300: 94.325% 0.0881 94.49;
    --mtx-warning-200: 96.567% 0.0531 94.35;

    --mtx-success-800: 47.458% 0.1319 147.43;
    --mtx-success-700: 57.129% 0.1754 145.66;
    --mtx-success-600: 57.129% 0.1754 145.66;
    --mtx-success-500: 67.441% 0.2097 145.32;
    --mtx-success-400: 89.548% 0.0901 153.17;
    --mtx-success-300: 92.576% 0.0591 153.96;
    --mtx-success-200: 98.109% 0.0287 154.64;
    --mtx-success-50: 97.523% 0.0267 163.56;

    --mtx-info-700: 48.721% 0.1055 236.58;
    --mtx-info-600: 59.048% 0.1247 235.89;
    --mtx-info-500: 70.89% 0.1513 236.34;
    --mtx-info-400: 89.317% 0.0608 226.04;
    --mtx-info-300: 93.996% 0.0384 225.53;
    --mtx-info-200: 97.295% 0.0172 225.19;

    --mtx-purple-700: 30.339% 0.1535 309.93;
    --mtx-purple-600: 41.119% 0.2078 309.17;
    --mtx-purple-500: 50.627% 0.2581 308.52;
    --mtx-purple-400: 74.925% 0.1875 314.2;
    --mtx-purple-300: 88% 0.086 315.01;
    --mtx-purple-200: 95.579% 0.0308 315.29;
    --mtx-purple-100: 97.691% 0.0148 310.95;

    --mtx-coral-700: 40.598% 0.1414 35.31;
    --mtx-coral-600: 51.211% 0.1822 34.42;
    --mtx-coral-500: 71.014% 0.1864 37.34;
    --mtx-coral-400: 79.012% 0.1246 37.7;
    --mtx-coral-300: 92.039% 0.042 37.6;
    --mtx-coral-200: 96.425% 0.0182 37.66;
    --mtx-coral-100: 98.206% 0.009 37.7;

    --mtx-lime-700: 61.232% 0.1485 122.47;
    --mtx-lime-600: 77.587% 0.1891 122.73;
    --mtx-lime-500: 93.145% 0.2218 122.01;
    --mtx-lime-400: 95.298% 0.1655 119.08;
    --mtx-lime-300: 97.088% 0.0985 117.47;
    --mtx-lime-200: 98.745% 0.0404 116.33;
    --mtx-lime-100: 99.569% 0.0135 115.83;

    --mtx-turquoise-700: 49.67% 0.079 182.17;
    --mtx-turquoise-600: 51.846% 0.0876 181.26;
    --mtx-turquoise-500: 69.333% 0.1185 181.03;
    --mtx-turquoise-400: 83.141% 0.1268 182.63;
    --mtx-turquoise-300: 90.52% 0.08 185.37;
    --mtx-turquoise-200: 94.761% 0.0609 186.08;
    --mtx-turquoise-100: 98.435% 0.0216 187.2;

    
  }
}

@layer utilities {
  .mtx-h-dscreen {
    height: 100vh;
    height: 100dvh;
  }


  
  /* Make scrollbar thinner */
  /* width */
  @media screen and (min-width: 768px) {
    .thin-scrollbar::-webkit-scrollbar {
      width: 8px;
      height: 8px;
    }

    /* Track */
    .thin-scrollbar::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px #c9cacc;
      border-radius: 10px;
      border-radius: 10px;
    }

    /* Handle */
    .thin-scrollbar::-webkit-scrollbar-thumb {
      background: #c9cacc;
      border-radius: 10px;
    }

    /* Handle on hover */
    .thin-scrollbar::-webkit-scrollbar-thumb:hover {
      background: #dcddde;
    }
  }
}
